.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
env/
venv/
.pytest_cache/
.coverage

tests/
*.db
*.sqlite
*.sqlite3

alembic/*.log
alembic/__pycache__/
